<div ng-controller="karenCTRL">

</div>
</div>


<!-- <div ng-app="app">
  {{ 1 + 1 }}
  <div ng-controller="stuffCtrl">
    <p>{{ message }} </p>
    <p>{{ moreStuff }} </p>

    <p>{{ message }} blabla {{ moreStuff }}</p>
  </div>
</div> -->
